/* Footer.module.css */
.footer {
    background-color: #333;
    color: white;
    padding: 2rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer h2 {
    font-size: 1.5rem;
  }
  
  .footer p {
    font-size: 1rem;
    margin: 5px 0;
  }
  